<div id="welcome-harwood">
	<div id="welcome-vc">
		<div id="welcome-hc">
			<div id="welcome-left" class="welcome-cols">
				<a id="welcome-website-link" href="https://harwoodhomes.co.uk/" target="_blank" title="Harwood Homes Website">
					<img src="images/gui/harwood-logo.jpg" width="200" height="126" alt="Harwood Homes Logo">
				</a>
				<h1 id="welcome-title">Welcome to <span id="showhome-name">The Showhome</span></h1>
			</div>
			<div id="welcome-right" class="welcome-cols">
				<!-- WELCOME HTML - P -->
			</div>
			<a id="start-tour" href="javascript:void(0)" title="{{START BUTTON TEXT}}">{{START BUTTON TEXT}}</a>
		</div>
	</div>
</div>