<div id="welcome-default">
	<div id="welcome-vc" class="vc">
		<div id="welcome-hc" class="hc">
			<div id="welcome-top" class="welcome-cols">
				<div id="client-logo"><img src="images/gui/{{CLIENT_LOGO_NAME}}" /></div>
				<h1 id="welcome-title">Welcome to <span class="showhome-name">The Showhome</span></h1>
			</div>
			<div id="welcome-content" class="welcome-cols">
				<!-- WELCOME HTML - P -->
				<div class="btn-container">
					<a id="start-tour" href="javascript:void(0)" title="{{START BUTTON TEXT}}">{{START BUTTON TEXT}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
